<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Spot Light Player Creation</h1>
    <form class="" action="/brawl" method="POST">
      Tag: <input type="text" name="tag"><br/>
      Trophies: <input type="text" name="trophies" /><br/>
      Squad: <input type="text" name="squad" />
      <input type="submit" name="" value="Create Player">
    </form>
  </body>
</html>
