body{

  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* overflow: scroll; */
  /* position: fixed; */
  /* width: 100vw; */
  /* height: 100vh; */
text-align: center;

z-index: 1;
}

h1{
  font-family: 'Hammersmith One', sans-serif;
  font-size:60px;
  color: white;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}


.container{
}
.addPlayer{
  position: absolute;
  top: 5px;
  right:5px;
}
.squeak{
  width: 575px;
  position: absolute;
  top: 200px;
  z-index: -1;
  right: 670px;
}
